{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
    <h3>График отпусков</h3>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Количество дней отпуска</th>
                <th>Начало отпуска</th>
                <th>Конец отпуска</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_obj %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.position }}</td>
                    <td>{{ user.vacation_days }}</td>
                    <td>{{ user.vacation_date_start }}</td>
                    <td>{{ user.vacation_date_end }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}