{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
    <h3>График отпусков</h3>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Количество дней отпуска</th>
                <th>Начало отпуска</th>
                <th>Конец отпуска</th>
            </tr>
        </thead>
        <tbody>
            {% for vacation in vacation_obj %}
                <tr>
                    <td>{{ vacation.user.last_name }}</td>
                    <td>{{ vacation.user.position }}</td>
                    <td>{{ vacation.vacation_days }}</td>
                    <td>{{ vacation.vacation_date_start }}</td>
                    <td>{{ vacation.vacation_date_end }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'includes/paginator.html' %}
{% endblock %}