{% extends 'base.html' %}
{% block title %}Личный кабинет пользователя{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
        </div>
      </div>
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Новый отпуск</legend>
              {{ v_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Добавить</button>
          </div>
      </form>
      <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Количество дней отпуска</th>
                <th>Начало отпуска</th>
                <th>Конец отпуска</th>
                <th>Удалить запись</th>
            </tr>
        </thead>
        <tbody>
            {% for vacation in users_vacations %}
                <tr>
                    <td>{{ vacation.vacation_days }}</td>
                    <td>{{ vacation.vacation_date_start }}</td>
                    <td>{{ vacation.vacation_date_end }}</td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'users:vacation-delete' vacation.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
